* {
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth; 
}

mark {
    background-color: #A3A3CD;
}

body {
    font-family: 'BarlowRegular';
    margin: 0;
    background-color: #010100;
    overflow: auto;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

h1 {
    font-family: 'BarlowBold';
    font-size: 38px;
    text-align: center;
}

h2 {
    font-family: 'BarlowBold';
    font-size: 34px;
}

h3 {
    font-family: 'BarlowBold';
    font-size: 16px;
}

a {
    color: rgb(236, 236, 236);
}

a:hover {
    color: #d5dbe0
}

@font-face {
    font-family: 'BarlowBold';
    src: url('/static/fonts/Barlow-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowRegular';
    src: url('/static/fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BarlowLight';
    src: url('/static/fonts/Barlow-Light.ttf') format('truetype');
}

.foreground {
    position: relative;
    z-index: 10;
    width: 100%;
    top: -75vh;
    left: 0;
    background-attachment: fixed;
    pointer-events: none;
}

.foreground-image {
    position: absolute;
    width: 100%;
    scroll-behavior: fixed;
    overflow: hidden;
}

.background {
    position: relative;
    z-index: -500;
    width: 100%;
    top: -75vh;
    left: 0;
    background-attachment: fixed;
}

.sky-limit-text {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    z-index: -400;
    width: 50%;
    top: 40vh;
    left: 25%;
    background-attachment: fixed;
}

.background-image {
    position: absolute;
    width: 100%;
    opacity: 90%;
    scroll-behavior: fixed;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 85px;
    height: 60px;
    z-index: 1200;
}

.dropbtn {
    position: fixed;
    width: 165px;
    margin-top: 22px;
    margin-left: 12px;
    opacity: 90%;
    cursor: pointer;
    border: transparent;
    background: none;
    display: flex;
}

.closebtn {
    position: fixed;
    width: 130px;
    background:none;
    border: transparent;
    cursor: pointer;
    top: -1vh;
    left: 45.5%;
    z-index: 1300;
    display: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1300;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.dropdown-content a:hover {background-color: #ddd;}

.menu-item {
    position: relative;
    width: 100%;
    max-width: 450px;
    cursor: pointer;
    align-self: center;
}

.menu-item img {
    height: auto;
    display: block;
    opacity: 1;
    height: 7.5vh;
    justify-self: center;
    box-shadow: #000 0px 0px 0px;
}

.menu-text {
    text-align: left;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 18%;
    font-family: 'BarlowBold';
    font-size: 22px;
    color: #f2d732;
    pointer-events: none;
}

.menu-item:hover img {
    filter: brightness(1.5);
}

.menu-item:hover .menu-text {
    color: rgb(255, 255, 142);
}


.main-background {
    position: relative;
    top: -95px;
    width: 100%;
    height: 902.5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20vh;
}

.main-image {
    display: block; 
    width: 12vw;
    height: auto;
    margin: 0px auto;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}

.main-image-container {
    position: relative;
    display: inline-block;
}

.bottom-left-corner {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}

.top-right-corner {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
}

.main-text {
    margin-left: 25px;
    text-align: center;
    font-size: 15px;
    line-height: 2;
    font-family: 'BarlowRegular'
}

.clouds {
    position: relative;
    padding: 52.06px 3.65vw;
    z-index: -3;
    opacity: 75%;
}

.clouds img {
    top: 0;
    left: 0;
    height: 332.5px;
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    transition: margin-top 0.5s ease-out, opacity 0.5s ease-out;
}

#cloud1 {
    top: 47.5px;
    left: 0;
}

#cloud2 {
    top: 0;
    left: 0;
}

#cloud3 {
    top: 551px;
    left: 36.55vw;
}

#cloud4 {
    top: 589px;
    left: 0;
}

#cloud5 {
    top: 161.5px;
    left: 32.89vw;
}

#cloud6 {
    top: 646px;
    left: 21.93vw;
}

#cloud8 {
    left: 29.24vw;
    height: 130.15px;
}

.slideshow-title {
    position: absolute;
    top: 7.79px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    z-index: 100;
    border-radius: 15px;
    padding: 1vh 1vw;
}

.overview-top {
    margin-top: 10%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.overview-title-text {
    object-fit: contain;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 1vh 1vw;
}

.overview-slideshow-text {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1vh 1vw;
    width: 100%;
    max-width: 72.5ch;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}

.slideshow-background,
.overview {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: flex;
}

.overview {
    margin-bottom: 40vh;
    z-index: 100;
    height: 120vh;
    width: auto;
    padding: 10vw;
    box-sizing: border-box;
    display: none;
    position: relative;
    justify-self: center;
    align-items: center;
    color: #e8eaebd0;
    flex-direction: column;
    object-fit: contain;
    text-align: center;
    justify-content: space-between;
}

.overview-top {
    margin-top: -7.5%;
    width: 70%;
    max-width: 70%;
    height: 35vh;
    text-align: center;
}

.overview-title-text {
    width: 90%;
    max-width: 90%;
}

.overview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 67.5vh;
    min-height:30vh;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 0vh;
    margin-bottom: 5vh;
    position: relative;
}

.overview-slide {
    width: 100%;
    max-width: 72.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overview .slides {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#overview .button-container {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.slideshow-background {
    height: 100vh;
    padding-bottom: 36.48px;
    box-sizing: border-box;
    display: none;
    position: relative;
    margin-bottom: 380px;
    z-index: 100;
    box-shadow: -8px -8px 12px rgba(0, 0, 0, 0.1), 8px 8px 12px rgba(0, 0, 0, 0.1);
}


.slideshow-container {
    place-self: center;
    padding-top: 7.79px;
    min-height: 646px;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    
}

.slides {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-items: center;
    width: 100%;
    margin-top: 76px;
    margin-bottom: 15.58px;
    z-index: 100;
}

.slideshow-image {
    display: block; 
    z-index: 100;
    border-radius: 15px;
}

.slideshow-video {
    display: block; 
    z-index: 100;
    background: #000;
    border-radius: 8px;
}

.slideshow-image,
.slideshow-video,
.slideshow-text {
    width: 43%;
    height: auto;
    max-height: 60vh;
    object-fit: contain;
}

#slideshow8 .slideshow-container {
    width: 60%; 
    margin-right: 1vw;
    color: #d788ac;
} 

#slideshow0 .slideshow-container {
    width: 58%;
    margin-right: 1vw;
    color: #d0e0d4;
} 

#slideshow1 .slideshow-container {
    width: 68%;
    color: #bfe8cb;
} 

#slideshow2 .slideshow-container {
    width: 65%;
    margin-right: 1vw;
    color: #ffa95e;
} 

#slideshow3 .slideshow-container {
    width: 60%;
    margin-right: 1vw;
    color: #b87c4d;
}

#slideshow4 .slideshow-container {
    width: 62%;
    margin-right: 5vw;
    color: black;
}

#slideshow5 .slideshow-container {
    width: 58%;
    margin-left: 2.5vw;
    color: #4d1722;
}

#slideshow6 .slideshow-container {
    width: 58%;
    color: #ddcab8;
}

#slideshow7 .slideshow-container {
    width: 66%;
    margin-left: 1vw;
    color: #acb388;
}

.slideshow-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 15px;
    padding: 1vh 1vw;
}

.slideshow-skills {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 85.5px;
    font-size: 15px;
    z-index: 100;
    border-radius: 15px;
    padding: 1vh 1vw;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    overflow: auto;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0.718);
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image {
    max-width: 90%;
    max-height: 80vh;
    transition: transform 0.3s ease;
    cursor: zoom-in;
    box-shadow: -8px -8px 12px rgba(0, 0, 0, 0.1), 8px 8px 12px rgba(0, 0, 0, 0.1);
}

.modal-zoomed-in {
    transform: scale(2);
    cursor: zoom-out;
}

.close {
    position: absolute;
    top: -2.5%;
    right: 5%;
    color: #77797a;
    font-size: 42px;
    font-weight: bold;
    z-index: 1200;
}

.close:hover,
.close:focus {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    cursor: pointer;
}


.button-container {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    padding: 0px 0px;
    height: 5vh;
    width: 2.5vw;
    color: #d5dbe0;
    font-weight: bold;
    font-size: 25.5px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
    border-radius: 1.52px 0.2vw;
}

.prev:hover, .next:hover {
    background-color: #55616d;
}

.slide-navigation-text {
    position: relative;
    margin-left: 18vw;
    margin-right: 18vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'BarlowLight';
    min-height: 80px;
    z-index: 1;
    color: black;
}

/* Background image layer */
.slide-navigation-text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 1.25vw;
    width: 440px;
    height: 160px;
    background-image: url('/static/slidenav/baggagetag.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1; /* make sure it's behind the text */
    pointer-events: none;
}

#slideshow8 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag8.png');
}

#slideshow0 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag0.png');
}

#slideshow1 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag1.png');
}

#slideshow2 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag2.png');
}

#slideshow3 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag3.png');
}

#slideshow4 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag4.png');
}

#slideshow5 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag5.png');
}

#slideshow6 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag6.png');
}

#slideshow7 .slide-navigation-text::before {
    background-image: url('/static/slidenav/baggagetag7.png');
}

.end-background {
    width: 100%;
    height: 800px;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0, 0, 0, 0.722);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    z-index: 12;
}

.end-horizontal {
    display: flex;
    flex-direction:row;
}

.end-clickables {
    margin-top: 38px;
    margin: 38px 0.5vw;
    height: 28.5px;
}

.end-copyright {
    margin-top: 19px;
    font-size: 15px;
    font-family: 'BarlowLight'
    display: block;
    text-align: center;
    color: #d5dbe0;
}

#hackerslide2 {
    max-height: 380px;
}

.social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    transition: transform 0.2s, color 0.2s;
}

.social-link:hover .social-text {
    text-align: center;
    background-color: #70809081;
    color: #e8eaeb;
}

.social-text {
    text-align: center;
    width: 110px;
    padding: 0px;
    margin-top: 10px;
    line-height: 1.5;
    color: #70809081;
    background-color: transparent;
    transition: background-color 0.2s;
}

.social-icon {
    width: 80px;
    transition: transform 0.2s;
    padding-top: 12px;
}

.social-link:hover .social-icon {
    transform: translateY(-12px);
}

.marquee-helicopter1 { 
  margin-top: 63vh;
  overflow: hidden;
  position: absolute;
  animation: MarqueeHelicopterLeft linear 35s infinite;
}

.marquee-helicopter2 { 
  margin-top: 80vh;
  overflow: hidden;
  position: absolute;
  animation: MarqueeHelicopterLeft linear 40s infinite;
}

.marquee-plane1 { 
  margin-top: 42vh;
  overflow: hidden;
  position: absolute;
  animation: MarqueePlaneLeft linear 22s infinite;
}

.marquee-plane2 { 
  margin-top: 19vh;
  overflow: hidden;
  position: absolute;
  animation: MarqueePlaneLeft linear 20s infinite;
}

.marquee-plane3 { 
  margin-top: 12vh;
  overflow: hidden;
  position: absolute;
  animation: MarqueePlaneLeft linear 18s infinite;
}

.marquee-plane4 { 
  margin-top: 15vh;
  overflow: hidden;
  position: absolute;
  animation: MarqueePlaneLeft linear 15s infinite;
}

.category-button {
    top: 0;
    border: transparent;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    transition: transform 0.2s, color 0.2s;
}

.category-button:hover .category-text {
    text-align: center;
    background-color: #70809081;
    color: #e8eaeb;
}

.category-text {
    text-align: center;
    width: 110px;
    padding: 0px;
    margin-top: 10px;
    line-height: 1.5;
    color: #70809081;
    background-color: transparent;
    transition: background-color 0.2s;
}

.helicopter-text-1 {
    height: 18vh;
    margin-top: -5vh;
}

.helicopter-text-2 {
    height: 18vh;
    margin-top: -5vh;
}

.plane-text-1 {
    height: 18vh;
    margin-top: -8vh;
}

.plane-text-2 {
    height: 18vh;
    margin-top: -8vh;
}

.plane-text-3 {
    height: 18vh;
    margin-top: -8vh;
}

.plane-text-4 {
    height: 18vh;
    margin-top: -8vh;
}

.category-icon {
    width: 150px;
    transition: transform 0.2s;
    padding-top: 12px;
}

.category-button:hover .category-icon {
    transform: translateY(-12px);
}

@keyframes MarqueeHelicopterLeft
{
  0% { right: -2% }
  100% { right: 100% }
}

@keyframes MarqueePlaneLeft
{
  0% { right: -30% }
  100% { right: 100% }
}

.sidebar {
    height: 90vh;
    min-width: 30%;
    position: fixed;
    top: 5%;
    right: 0;
    background-color: transparent;
    overflow-x: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    color: white;
    z-index: 990;
}

.sidebar-inner {
    position: relative;
    height: 100%;
    width: 80%;
    right: -20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.sidebar-bg {
    position: absolute;
    right: 0;
    height: 90vh;
    width: auto;
    z-index: -1;
    pointer-events: none;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-open-button {
    cursor: pointer;
    background: none;
    border: none;
    position: fixed;
    display: flex;
    top: 25%;
    z-index: 990;
    height: 12vh;
    right: -1%;
}

.sidebar-close-button {
    top:30%;
    padding-left: 40%;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    height: 10vh;
    z-index: 990;
    background: none;
}

.sidebar h2, .sidebar p {
    padding-left: 15%;
    color: black;
    margin: 0.5rem 0;
    text-align: center;
    z-index: 1;
}

.sidebar h2 {
    padding-top: 18%;
    font-family: 'BarlowBold';
}

.sidebar-row {
    display: flex;
    align-items: center;
    padding: 10px 15%;
    gap: 15px;
}

.sidebar-row img {
    width: 60px;
    height: 40px;
    object-fit: contain;
}

#sidebar-row-3-img {
    width: 90px;
}

#sidebar-row-3-text {
    flex: 1;
    max-width: calc(100% - 80px);
}

.sidebar-row p {
    margin: 0;
    color: black;
    font-family: 'BarlowRegular';
    text-align: left;
}

.email-form {
    background-color: #d5dbe052;
    padding: 15px;
    color: #cad7e481;
    width: 380px;
    margin: 15px auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.email-form form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-heading {
    line-height: 1;
    font-size: 29px;
}
.email-form label {
    font-size: 13px;
    color: #cad7e481;
}

.email-form input, .email-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 13px;
    width: 100%;
}

.email-form button {
    background-color: #55616d;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.email-form button:hover {
    background-color: #333;
}

.email-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.email-modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.email-modal-close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: -10px;
    margin-top: -22.5px;
}

.email-modal-close-button:hover,
.email-modal-close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}