body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #e8eaeb;
    overflow: auto;
    font-size: 18px;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-style: bold;
    font-size: 45px;
    text-align: center;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 45px;
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    font-size: 18px;
}

a {
    color: black;
}

a:hover {
    color: #d5dbe0
}

.main-background {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    position: relative;
}

.main-image {
    display: block; 
    max-width: 250px;
    margin: 0px auto;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}

.main-text {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slideshow-title {
    position: absolute;
    top: 15px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.slideshow-background {
    width: 100%;
    padding-bottom: 70px;
    background-color: #708090;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 360px;
}


.slideshow-container {
    padding-top: 15px;
    width: 98%;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slides {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 30px;
}

.slideshow-image {
    display: block; 
    max-width: 45%;
    max-height: 52.5vh;
    width: auto;
    object-fit: contain;
    display: flex;
    flex-direction: column;
}

.slideshow-video {
    display: block; 
    width: 45%;
    height: 480px;
    margin: 0 auto;
    object-fit: contain;
}

.slideshow-text {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideshow-skills {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top:100px;
    font-size: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    max-width: 90%;
    max-height: 800px;
    overflow: auto;
    background-color: rgba(0,0,0,0);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    height: auto;
    z-index: 1000;
    max-width: 90%;
    max-height: 800px;
}

.image-container {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.modal-image {
    display: block;
    max-width: 90%;
    max-height: 800px;
    object-fit: scale-down;
    border: 10px solid black;
    border-radius: 8px;
}
.close {
    position: absolute;
    top: -25px;
    right: -25px;
    color: #55616d;
    font-size: 35px;
    font-weight: bold;
    z-index: 1100;
}

.close:hover,
.close:focus {
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    cursor: pointer;
}


.button-container {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: #d5dbe0;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
}

.prev:hover, .next:hover {
    background-color: #55616d;
}

.slide-navigation-text {
    margin-left: 22.5vw;
    margin-right: 22.5vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.end-background {
    width: 100%;
    height: 135px;
    box-sizing: border-box;
    position: relative;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-horizontal {
    display: flex;
    flex-direction:row;
}

.end-clickables {
    margin: 10px;
    height: 27px;
}

.end-copyright {
    margin-top: 30px;
    font-size: 11px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    color: #d5dbe0;
}

@media (max-width: 768px) {

    body {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0px;
        background-color: #e8eaeb;
        overflow: auto;
        font-size: 15px;
    }

    h2 {
        font-size: 24px;
    }
    
    .slides {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 150px;
        margin-bottom: 30px;
    }

    .slideshow-skills {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 120px;
        font-size: 12px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        max-width: 80%;
        max-height: 700px;
        overflow: auto;
        background-color: rgba(0,0,0,0);
    }

    .modal-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: auto;
        height: auto;
        z-index: 1000;
        max-width: 80%; 
        max-height: 700px;
    }

    .modal-image {
        display: block;
        object-fit: scale-down;
        border: 10px solid black;
        border-radius: 8px;
        max-width: 80%; 
        max-height: 700px;
    }

    .phone-friendly {
        max-width: 45%;
    }

    .end-clickables {
        margin: 8px;
        height: 18px;
    }

}