/* Extra Small Phones */
@media only screen and (((max-width: 479px) and ((orientation: portrait) or (max-aspect-ratio: 1/1))) or ((max-height: 479px) and ((orientation: landscape) or (min-aspect-ratio: 1/1)))) {
    #cloud1 {
        top: 100px;
        left: 0;
    }

    #cloud2 {
        top: 0;
        left: 200px;
    }

    #cloud3 {
        top: 500px;
        left: -50vw;
    }

    #cloud4 {
        top: 250px;
        left: -50vw;
    }

    #cloud5 {
        top: 200px;
        left: 50vw;
    }

    #cloud6 {
        top: 446px;
        left: unset;
        right: 0vw;
    }

    #cloud8 {
        left: 29.24vw;
        height: 0px;
    }

    .foreground {
        overflow-x: unset !important;
    }

    .dropdown-item img {
        height: 35px;
    }

    .dropdown-text {
        font-size: 14px;
        margin-left: -90px;
    }

    .navbar-close-button {
        width: 100px;
    }

    .end-background {
        margin-top: 200px;
        background-size: 460px;
    }

    .email-form {
        margin-top: 220px;
        margin-left: 2vw;
        width: 290px;
    }

    .email-form form {
        gap: 4px;
    }

    .form-heading {
        font-size: 22px;
    }
    .email-form label {
        font-size: 12px;
    }

    .email-form input, .email-form textarea {
        padding: 6px;
        font-size: 12px;
    }

    .email-form button {
        padding: 6px;
        font-size: 12px;
        margin-top: 6px;
    }

    .end-clickables {
        margin-left: 2vw;
        margin: 4px 1.25vw;
        height: 16px;
    }

    .end-copyright {
        margin-left: 2vw;
        margin-top: 12px;
        font-size: 6.5px;
    }

    .overview {
        margin-bottom: 120vw;
        height: 200vw;
        padding: 10vw;
    }
    
    .departures-signs {
        top: -180px;
    }

    .departures-signs .tables {
        line-height: 1.8;
    }

    .airport-background {
        bottom: -100px;
    }

    .airport-table {
        left: -20vw;
        padding-top: 100px;
        top: 600px;
    }

    .backpack-front {
        height: 8.5vh;
        bottom: 28%;
    }

    .backpack-trigger-wrap {
        bottom: 20%;
        left: 55%;
    }

    .backpack-trigger {
        bottom: 50%;
        left: 45%;
    }

    .backpack-items {
        position: relative;
        bottom: 73%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backpack-item-wrap {
        position: absolute;
        top: 0;
        left: 48%;
        margin: auto;
        display: block;
        transform: 
            translateY(calc(var(--item-translate-y) / 2))
            rotate(var(--item-rotate));
        transform-origin: bottom center;
    }

    .backpack-item {
        width: var(--item-inactive-width, 5px);
        height: auto;
    }

    .backpack-item-wrap.is-active .backpack-item {
        width: var(--item-active-width, 150px);
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 12px;
    }

    body {
        font-size: 11px;
    }

    .slide-navigation-text {
        font-size: 1.8vw;
        text-wrap: nowrap;
    }

    .slide-navigation-text::before {
        width: 28vw;
        height: 21vw;
        margin-left: 2.8vw;
    }

    .slideshow-background {
        height: 120vw;
    }
        
    .marquee-helicopter1 { 
        margin-top: 58vh;
    }

    .marquee-helicopter2 { 
        margin-top: 65vh;
    }

    .marquee-plane1 { 
        margin-top: 37vh;
    }

    .marquee-plane2 { 
        margin-top: 19vh;
    }

    .marquee-plane3 { 
        margin-top: 12vh;
    }

    .marquee-plane4 { 
        margin-top: 15vh;
    }

    .marquee-plane5 { 
        margin-top: 24vh;
    }

}

/* Portrait */
@media only screen and (max-width: 479px) and ((orientation: portrait) or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: 32.5vh;
    }

    .background {
        height: 100vh;
    }

    .sky-limit-text {
        height: 20vh;
    }

    .clouds img {
        max-height: 160px;
        height: 160px;
    }
}

/* Landscape */
@media only screen and (max-height: 479px) and ((orientation: landscape) or (min-aspect-ratio: 1/1)) {
    .foreground {
        top: -50vh !important;
    }

    .background {
        height: 140vh;
    }
    
    .sky-limit-text {
        top: 50%;
        transform: translate(-50%, -50%);
        height: unset;
        width: 60vw;
    }

    .clouds img {
        max-height: 150px;
        height: 150px;
    }

    .plane-text-1,
    .plane-text-2,
    .plane-text-3, 
    .plane-text-4,
    .plane-text-5 {
        height: 26vh;
        margin-top: -15vh;
    }

    .helicopter-text-1,
    .helicopter-text-2 {
        height: 26vh;
        margin-top: -7.5vh;
    }
}