/* Small Phones */
@media only screen and (min-width: 480px) and (max-width: 639px) {
    .bot-link {
        top: 26px;
        right: 12px;
        padding: 5px 11px;
        gap: 7px;
        font-size: 12px;
    }

    .bot-icon {
        width: 17px;
        height: 17px;
    }

    #cloud1 { --baseX: -5vw;  --baseY: 80px; }
    #cloud2 { --baseX: 20vw;  --baseY: 0px; }
    #cloud3 { --baseX: 30vw;  --baseY: 420px; }
    #cloud4 { --baseX: -20vw; --baseY: 320px; }
    #cloud5 { --baseX: 45vw;  --baseY: 120px; }
    #cloud6 { --baseX: 15vw;  --baseY: 430px; }
    #cloud8 { --baseX: 34vw;  --baseY: 0px; height: 180px; }

    .dropdown-item img {
        height: 44px;
    }

    .dropdown-text {
        font-size: 16px;
        margin-left: -110px;
    }

    .navbar-close-button {
        width: 115px;
    }

    .end-background {
        margin-top: 350px;
        background-size: 520px;
    }

    .email-form {
        margin-top: 200px;
        margin-left: 2vw;
        width: 320px;
    }

    .email-form form {
        gap: 6px;
    }

    .form-heading {
        font-size: 23px;
    }

    .email-form label {
        font-size: 12.5px;
    }

    .email-form input, .email-form textarea {
        padding: 7px;
        font-size: 12.5px;
    }

    .email-form button {
        padding: 7px;
        font-size: 12.5px;
        margin-top: 6px;
    }

    .end-clickables {
        margin: 8px 1vw;
        height: 17px;
    }

    .end-copyright {
        margin-top: 14px;
        font-size: 7px;
    }

    .overview {
        margin-top: 700px;
        margin-bottom: -100px;
        height: 1100px;
        padding: 20px;
        overflow: visible !important;
    }

    .coach-arrow {
        width: 165px;
    }

    .overview-arrow-text {
        font-size: 30px;
    }

    .departures-signs {
        top: 60px;
        height: 470px;
        right: -95px;
    }

    .departures-signs .tables {
        top: 15px;
        width: 240px;
        line-height: 1.74;
    }

    .departures-footer {
        font-size: 8.5px;
        bottom: 56px;
    }

    .departures-signs .table .table-title {
        font-size: 17px;
    }

    .departures-signs .table tbody {
        font-size: 8.5px;
    }

    .table-column-titles {
        font-size: 7.5px !important;
        margin-bottom: -1.4% !important;
    }

    .airport-background {
        bottom: -50px;
        display: none;
    }

    .airport-table {
        left: -90px;
        padding-top: 80px;
        top: 700px;
        height: 320px;
        overflow: visible !important;
    }

    .backpack-items,
    .backpack-front,
    .backpack-trigger,
    .backpack-trigger-wrap,
    .airport-background {
        overflow: visible !important;
    }

    .backpack-front {
        height: 75px;
        bottom: 32%;
    }

    .backpack-trigger-wrap {
        bottom: 25%;
        left: 54%;
    }

    .backpack-trigger {
        bottom: 45%;
        left: 46%;
    }

    .backpack-items {
        bottom: 54%;
        left: 58%;
        width: 85%;
        scale: 0.7;
    }

    #dl {
        --item-active-translate-y: -320px !important;
        --item-active-translate-x: -170px !important;
    }

    #bt {
        --item-active-translate-y: -380px !important;
        --item-active-translate-x: -330px !important;
    }

    #tb {
        --item-active-translate-y: -650px !important;
        --item-active-translate-x: -260px !important;
    }

    #note {
        --item-active-translate-y: -510px !important;
        --item-active-translate-x: -160px !important;
    }

    #passport {
        --item-active-translate-y: -540px !important;
        --item-active-translate-x: -320px !important;
    }

    #zb {
        --item-active-translate-y: -560px !important;
        --item-active-translate-x: -200px !important;
    }

    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 13px;
    }

    body {
        font-size: 12.5px;
    }

    .slide-navigation-text {
        font-size: 1.6vw;
        text-wrap: nowrap;
    }

    .slide-navigation-text::before {
        width: 24vw;
        height: 18vw;
        margin-left: 2.4vw;
    }

    .slideshow-background {
        height: 105vw;
    }

    .marquee-helicopter1 { 
        margin-top: 60vh;
    }

    .marquee-helicopter2 { 
        margin-top: 70vh;
    }

    .marquee-plane1 { 
        margin-top: 44vh;
    }

    .marquee-plane2 { 
        margin-top: 27vh;
    }

    .marquee-plane3 { 
        margin-top: 19vh;
    }

    .marquee-plane4 { 
        margin-top: 23vh;
    }

    .marquee-plane5 { 
        margin-top: 34vh;
    }

    .category-icon {
        width: 125px;
    }

    .social-icon {
        width: 65px;
    }
}

/* Portrait */
@media only screen and (min-width: 480px) and (max-width: 639px) and ((orientation: portrait)  or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: calc(var(--stable-vh, 1vh) * 40);
    }

    .background {
        height: 90vh;
        height: 90lvh;
    }

    .sky-limit-text {
        height: 22vh;
        overflow: visible;
    }

    .clouds img {
        max-height: 200px;
        height: 200px;
    }
}

/* Landscape */
@media only screen and (min-height: 480px) and (max-height: 639px) and ((orientation: landscape)  or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: calc(var(--stable-vh, 1vh) * 4) !important;
    }

    .background {
        height: 130vh;
        height: 130lvh;
    }

    .overview {
        margin-top: 600px;
        margin-bottom: -600px !important;
    }

    .sky-limit-text {
        top: 50%;
        transform: translate(-50%, -50%);
        height: unset;
        width: 60vw;
        overflow: visible;
    }

    .clouds img {
        max-height: 190px;
        height: 190px;
    }
}
