/* Desktops & Large Laptops */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .bot-link {
        top: 22px;
        right: 12px;
        padding: 6px 12px;
        gap: 8px;
        font-size: 14px;
    }

    .bot-icon {
        width: 19px;
        height: 19px;
    }

    #cloud1 { --baseX: -9.5vw; --baseY: 55px; }
    #cloud2 { --baseX: 11vw;   --baseY: 0px; }
    #cloud3 { --baseX: 50vw;   --baseY: 365px; }
    #cloud4 { --baseX: -13vw;  --baseY: 350px; }
    #cloud5 { --baseX: 57vw;   --baseY: 65px; }
    #cloud6 { --baseX: 28vw;   --baseY: 445px; }
    #cloud8 { --baseX: 38.5vw; --baseY: 0px; height: 235px; }

    .dropdown-item img {
        height: 54px;
    }

    .dropdown-text {
        font-size: 20px;
        margin-left: -135px;
    }

    .navbar-close-button {
        width: 128px;
    }

    .end-background {
        margin-top: 1200px;
        background-size: 590px;
    }

    .email-form {
        margin-top: 175px;
        margin-left: 1vw;
        width: 370px;
    }

    .email-form form {
        gap: 7px;
    }

    .form-heading {
        font-size: 25px;
    }

    .email-form label {
        font-size: 13px;
    }

    .email-form input, .email-form textarea {
        padding: 8px;
        font-size: 13px;
    }

    .email-form button {
        padding: 8px;
        font-size: 13.5px;
    }

    .end-clickables {
        margin: 20px 0.6vw;
        height: 18px;
    }

    .end-copyright {
        margin-top: 18px;
        font-size: 8px;
    }

    .overview {
        margin-top: 1500px;
        margin-bottom: -120px;
        padding: 80px;
        overflow: visible !important;
    }

    .coach-arrow {
        width: 200px;
    }

    .overview-arrow-text {
        font-size: 36px;
    }

    .departures-signs {
        top: 95px;
        height: 535px;
        right: -118px;
    }

    .departures-signs .tables {
        top: 18px;
        width: 300px;
        line-height: 1.76;
    }

    .departures-footer {
        font-size: 9px;
        bottom: 61px;
    }

    .departures-signs .table .table-title {
        font-size: 18px;
    }

    .departures-signs .table tbody {
        font-size: 9px;
    }

    .table-column-titles {
        font-size: 8px !important;
        margin-bottom: -1% !important;
    }

    .airport-background {
        bottom: -900px;
    }

    .airport-table {
        left: -14vw;
        top: 640px;
        height: 345px;
    }

    .backpack-front {
        height: 105px;
    }

    .backpack-items {
        left: 52%;
        width: 25%;
        scale: 0.9;
    }

    #dl {
        --item-active-translate-y: -380px !important;
        --item-active-translate-x: -230px !important;
    }

    #bt {
        --item-active-translate-y: -430px !important;
        --item-active-translate-x: -390px !important;
    }

    #tb {
        --item-active-translate-y: -700px !important;
        --item-active-translate-x: -340px !important;
    }

    #note {
        --item-active-translate-y: -560px !important;
        --item-active-translate-x: -220px !important;
    }

    #passport {
        --item-active-translate-y: -600px !important;
        --item-active-translate-x: -380px !important;
    }

    #zb {
        --item-active-translate-y: -620px !important;
        --item-active-translate-x: -260px !important;
    }

    h1 {
        font-size: 26px;
    }

    h3 {
        font-size: 15px;
    }

    body {
        font-size: 14px;
    }

    .slide-navigation-text {
        font-size: 1vw;
        text-wrap: nowrap;
    }

    .slide-navigation-text::before {
        width: 18vw;
        height: 13vw;
        margin-left: 1.6vw;
    }

    .slideshow-background {
        height: 70vw;
    }

    .marquee-helicopter1 { 
        margin-top: 63vh;
    }

    .marquee-helicopter2 { 
        margin-top: 79vh;
    }

    .marquee-plane1 { 
        margin-top: 42vh;
    }

    .marquee-plane2 { 
        margin-top: 22vh;
    }

    .marquee-plane3 { 
        margin-top: 14vh;
    }

    .marquee-plane4 { 
        margin-top: 17vh;
    }

    .marquee-plane5 { 
        margin-top: 37vh;
    }

    .category-icon {
        width: 145px;
    }

    .social-icon {
        width: 78px;
    }
}

/* Portrait */
@media only screen and (min-width: 1024px) and (max-width: 1279px) and ((orientation: portrait) or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: calc(var(--stable-vh, 1vh) * 42);
    }

    .background {
        height: 88vh;
        height: 88lvh;
    }

    .sky-limit-text {
        height: 28vh;
        overflow: visible;
    }

    .clouds img {
        max-height: 260px;
        height: 260px;
    }
}

/* Landscape */
@media only screen and (min-width: 1024px) and (max-width: 1279px) and ((orientation: landscape) or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: calc(var(--stable-vh, 1vh) * 2) !important;
    }

    .background {
        height: 115vh;
        height: 115lvh;
    }

    .overview {
        margin-top: 1300px;
        margin-bottom: -300px !important;
    }

    .sky-limit-text {
        top: 50%;
        transform: translate(-50%, -50%);
        height: unset;
        width: 60vw;
        overflow: visible;
    }

    .clouds img {
        max-height: 250px;
        height: 250px;
    }
}
