/* Extra Small Phones */
@media only screen and (((max-width: 479px) and ((orientation: portrait) or (max-aspect-ratio: 1/1))) or ((max-height: 479px) and ((orientation: landscape) or (min-aspect-ratio: 1/1)))) {
    .bot-link {
        top: 28px;
        right: 12px;
        padding: 4px 10px;
        gap: 6px;
        font-size: 10px;
    }

    .bot-icon {
        width: 15px;
        height: 15px;
    }

    #cloud1 {
        --baseX: 0vw;
        --baseY: 100px;
    }

    #cloud2 {
        --baseX: 200px;
        --baseY: 0px;
    }

    #cloud3 {
        --baseX: -50vw;
        --baseY: 500px;
    }

    #cloud4 {
        --baseX: -50vw;
        --baseY: 250px;
    }

    #cloud5 {
        --baseX: 50vw;
        --baseY: 200px;
    }

    #cloud6 {
        --baseX: 0vw;
        --baseY: 446px;
    }

    #cloud8 {
        --baseX: 29.24vw;
        --baseY: 0;
        height: 0px;
    }

    .foreground {
        overflow-x: unset !important;
    }

    .dropdown-item img {
        height: 35px;
    }

    .dropdown-text {
        font-size: 14px;
        margin-left: -90px;
    }

    .navbar-close-button {
        width: 100px;
    }

    .end-background {
        margin-top: 100px;
        background-size: 460px;
    }

    .email-form {
        margin-top: 220px;
        margin-left: 2vw;
        width: 290px;
    }

    .email-form form {
        gap: 4px;
    }

    .form-heading {
        font-size: 22px;
    }
    .email-form label {
        font-size: 12px;
    }

    .email-form input, .email-form textarea {
        padding: 6px;
        font-size: 12px;
    }

    .email-form button {
        padding: 6px;
        font-size: 12px;
        margin-top: 6px;
    }

    .end-clickables {
        margin-left: 2vw;
        margin: 4px 1.25vw;
        height: 16px;
    }

    .end-copyright {
        margin-left: 2vw;
        margin-top: 12px;
        font-size: 6.5px;
    }
    
    .overview {
        margin-top: 538px;
        margin-bottom: 0px;
        height: 1000px;
        padding: 0px;
        overflow: visible !important;
    }

    .trigger-coach {
        margin-top:0px;
    }

    .coach-arrow {
        width: 150px;
    }

    .overview-arrow-text {
        font-size: 28px;
    }
    
    .departures-signs {
        top: 60px;
        height: 450px;
        right: -85px;
    }

    .departures-signs .tables {
        top: 14px;
        left: 14.4%;
        width: 220px;
        line-height: 1.74;
    }

    .departures-footer {
        font-size: 8px;
    }

    .departures-signs .table .table-title {
        font-size: 16px;
    }

    .departures-signs .table tbody {
        font-size: 8px; 
    }

    .table-column-titles {
        font-size: 7px !important;
        margin-bottom: -1.6% !important;
    }

    .departures-footer {
        bottom: 52px;
    }

    .airport-background {
        bottom: 50px;
        display: none;
    }

    .airport-table {
        left: -100px;
        padding-top: 100px;
        top: 600px;
        overflow: visible !important;
    }

    .backpack-items,
    .backpack-front,
    .backpack-trigger,
    .backpack-trigger-wrap,
    .airport-background {
        overflow: visible !important;
    }

    .backpack-front {
        height: 67px;
        bottom: 28%;
    }
    
    .backpack-trigger-wrap {
        bottom: 20%;
        left: 55%;
    }

    .backpack-trigger {
        bottom: 50%;
        left: 45%;
    }

    .backpack-items {
        bottom: 48%;
        left: 60%;
        width: 95%;
        scale: 0.6;
    }

    #dl {
        --item-active-translate-y:-300px !important;
        --item-active-translate-x: -140px !important;
    }

    #bt {
        --item-active-translate-y:-360px !important;
        --item-active-translate-x: -310px !important;
    }

    #tb {
        --item-active-translate-y:-620px !important;
        --item-active-translate-x: -240px !important;
    }

    #note {
        --item-active-translate-y:-490px !important;
        --item-active-translate-x: -140px !important;
    }

    #passport {
        --item-active-translate-y:-530px !important;
        --item-active-translate-x: -300px !important;
    }

    #zb {
        --item-active-translate-y:-540px !important;
        --item-active-translate-x: -180px !important;
    }

    h1 {
        font-size: 18px;
    }

    h3 {
        font-size: 12px;
    }

    body {
        font-size: 11px;
    }

    .slide-navigation-text {
        font-size: 1.8vw;
        text-wrap: nowrap;
    }

    .slide-navigation-text::before {
        width: 28vw;
        height: 21vw;
        margin-left: 2.8vw;
    }

    .slideshow-background {
        height: 120vw;
    }
        
    .marquee-helicopter1 { 
        margin-top: 58vh;
    }

    .marquee-helicopter2 { 
        margin-top: 65vh;
    }

    .marquee-plane1 { 
        margin-top: 45vh;
    }

    .marquee-plane2 { 
        margin-top: 26vh;
    }

    .marquee-plane3 { 
        margin-top: 17vh;
    }

    .marquee-plane4 { 
        margin-top: 21vh;
    }

    .marquee-plane5 { 
        margin-top: 32vh;
    }

    .category-icon {
        width: 110px;
    }

    .social-icon {
        width: 60px;
    }
}

/* Portrait */
@media only screen and (max-width: 479px) and ((orientation: portrait) or (max-aspect-ratio: 1/1)) {
    .slideshow-ticket.animate {
        transform: translateX(1%) translateY(37.5vh) rotate(90deg) scale(0.2) !important;
    }

    .foreground {
        top: calc(var(--stable-vh, 1vh) * 42.5);
    }

    .background {
        height: 80vh;
        height: 80lvh;
    }

    .sky-limit-text {
        height: 20vh;
        overflow: visible;
    }

    .clouds img {
        max-height: 160px;
        height: 160px;
    }

    .sidebar, .sidebar-bg, .sidebar-inner {
        scale: 0.8;
    }
}

/* Landscape */
@media only screen and (max-height: 479px) and ((orientation: landscape) or (min-aspect-ratio: 1/1)) {
    .sidebar, .sidebar-bg, .sidebar-inner {
        top: 12%;
        scale: 0.8;
    }

    .foreground {
        top: calc(var(--stable-vh, 1vh) * 2) !important;
    }

    .background {
        height: 140vh;
        height: 140lvh;
    }

    .overview {
        margin-top: 438px;
        margin-bottom: -750px !important;
    }
    
    .sky-limit-text {
        top: 50%;
        transform: translate(-50%, -50%);
        height: unset;
        width: 60vw;
        overflow: visible;
    }

    .clouds img {
        max-height: 150px;
        height: 150px;
    }

    .marquee-helicopter1 { 
        margin-top: 85vh;
    }

    .marquee-helicopter2 { 
        margin-top: 95vh;
    }

    .marquee-plane1 { 
        margin-top: 70vh;
    }

    .marquee-plane2 { 
        margin-top: 46vh;
    }

    .marquee-plane3 { 
        margin-top: 32vh;
    }

    .marquee-plane4 { 
        margin-top: 38vh;
    }

    .marquee-plane5 { 
        margin-top: 56vh;
    }

    .plane-text-1,
    .plane-text-2,
    .plane-text-3, 
    .plane-text-4,
    .plane-text-5 {
        height: 26vh;
        margin-top: -15vh;
    }

    .helicopter-text-1,
    .helicopter-text-2 {
        height: 26vh;
        margin-top: -7.5vh;
    }

    .dropdown-item {
        margin-left: auto;
        margin-right: auto;
    }

    .dropdown-item img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .end-background {
        margin-top: 800px !important;
    }
}

