/* Tablets */
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .bot-link {
        top: 24px;
        right: 12px;
        padding: 6px 12px;
        gap: 7px;
        font-size: 13px;
    }

    .bot-icon {
        width: 18px;
        height: 18px;
    }

    #cloud1 { --baseX: -8vw;  --baseY: 70px; }
    #cloud2 { --baseX: 15vw;  --baseY: 0px; }
    #cloud3 { --baseX: 40vw;  --baseY: 400px; }
    #cloud4 { --baseX: -18vw; --baseY: 330px; }
    #cloud5 { --baseX: 50vw;  --baseY: 100px; }
    #cloud6 { --baseX: 20vw;  --baseY: 440px; }
    #cloud8 { --baseX: 36vw;  --baseY: 0px; height: 200px; }

    .dropdown-item img {
        height: 48px;
    }

    .dropdown-text {
        font-size: 18px;
        margin-left: -120px;
    }

    .navbar-close-button {
        width: 120px;
    }

    .end-background {
        margin-top: 600px;
        background-size: 560px;
    }

    .email-form {
        margin-top: 190px;
        margin-left: 2vw;
        width: 340px;
    }

    .email-form form {
        gap: 6px;
    }

    .form-heading {
        font-size: 24px;
    }

    .email-form label {
        font-size: 13px;
    }

    .email-form input, .email-form textarea {
        padding: 7px;
        font-size: 12.5px;
    }

    .email-form button {
        padding: 7px;
        font-size: 13px;
        margin-top: 6px;
    }

    .end-clickables {
        margin: 10px 1vw;
        height: 18px;
    }

    .end-copyright {
        margin-top: 16px;
        font-size: 7.5px;
    }

    .overview {
        margin-top: 1000px;
        margin-bottom: -200px;
        min-height: 1100px;
        padding: 50px;
        overflow: visible !important;
    }

    .coach-arrow {
        width: 175px;
    }

    .overview-arrow-text {
        font-size: 32px;
    }

    .departures-signs {
        top: 80px;
        height: 500px;
        right: -110px;
    }

    .departures-signs .tables {
        top: 16px;
        width: 260px;
        line-height: 1.75;
    }

    .departures-footer {
        font-size: 9px;
        bottom: 58px;
    }

    .departures-signs .table .table-title {
        font-size: 17.5px;
    }

    .departures-signs .table tbody {
        font-size: 9px;
    }

    .table-column-titles {
        font-size: 7.5px !important;
        margin-bottom: -1.2% !important;
    }

    .airport-background {
        bottom: -300px;
    }

    .airport-table {
        left: -12vw;
        top: 600px;
        height: 330px;
    }

    .backpack-front {
        height: 85px;
    }

    .backpack-items {
        left: 55%;
        width: 40%;
        scale: 0.8;
    }

    #dl {
        --item-active-translate-y: -340px !important;
        --item-active-translate-x: -200px !important;
    }

    #bt {
        --item-active-translate-y: -400px !important;
        --item-active-translate-x: -360px !important;
    }

    #tb {
        --item-active-translate-y: -660px !important;
        --item-active-translate-x: -300px !important;
    }

    #note {
        --item-active-translate-y: -520px !important;
        --item-active-translate-x: -190px !important;
    }

    #passport {
        --item-active-translate-y: -560px !important;
        --item-active-translate-x: -350px !important;
    }

    #zb {
        --item-active-translate-y: -580px !important;
        --item-active-translate-x: -230px !important;
    }

    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 14px;
    }

    body {
        font-size: 13px;
    }

    .slide-navigation-text {
        font-size: 1.4vw;
        text-wrap: nowrap;
    }

    .slide-navigation-text::before {
        width: 22vw;
        height: 16vw;
        margin-left: 2.2vw;
    }

    .slideshow-background {
        height: 95vw;
    }

    .marquee-helicopter1 { 
        margin-top: 60vh;
    }

    .marquee-helicopter2 { 
        margin-top: 75vh;
    }

    .marquee-plane1 { 
        margin-top: 43vh;
    }

    .marquee-plane2 { 
        margin-top: 25vh;
    }

    .marquee-plane3 { 
        margin-top: 16vh;
    }

    .marquee-plane4 { 
        margin-top: 20vh;
    }

    .marquee-plane5 { 
        margin-top: 33vh;
    }

    .category-icon {
        width: 135px;
    }

    .social-icon {
        width: 70px;
    }
}

/* Portrait */
@media only screen and (min-width: 640px) and (max-width: 767px) and ((orientation: portrait) or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: calc(var(--stable-vh, 1vh) * 38);
    }

    .background {
        height: 85vh;
        height: 85lvh;
    }

    .sky-limit-text {
        height: 24vh;
        overflow: visible;
    }

    .clouds img {
        max-height: 220px;
        height: 220px;
    }
}

/* Landscape */
@media only screen and (min-height: 640px) and (max-height: 767px) and ((orientation: landscape) or (max-aspect-ratio: 1/1)) {
    .foreground {
        top: calc(var(--stable-vh, 1vh) * 3) !important;
    }

    .background {
        height: 125vh;
        height: 125lvh;
    }

    .overview {
        margin-top: 800px;
        margin-bottom: -600px !important;
    }

    .sky-limit-text {
        top: 50%;
        transform: translate(-50%, -50%);
        height: unset;
        width: 60vw;
        overflow: visible;
    }

    .clouds img {
        max-height: 210px;
        height: 210px;
    }
}
