/* On Portrait Mode / max 1/1 aspect */
@media only screen and ((orientation: portrait) or (max-aspect-ratio: 1/1)) {

    .slideshow-background img.bg-rotatable {
        display: block;
        transform: rotate(90deg);
        transform-origin: center;
    }

    .slideshow-background {
        background: none !important;
        margin-left: -4%;
        margin-top: 170vw;
        height: 90%;
        min-height: fit-content;
        overflow: visible !important;
    }

    .slides {
        flex-direction: column;
        align-items: center;
        margin-top: 15vw;
        margin-left: 7vw;
        -ms-flex-align: center;
    }

    .slideshow-vertical-image-container {
        height: 35vw;
        max-height: 35vw;
        padding: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        -ms-flex-align: center;
        margin-top: -14vw;
    }

    .slideshow-video {
        width: 90%;
        max-height: 40vw;
        padding: 0 !important;
        margin-top: 0 !important;
        margin-bottom: -8vw !important;
        -ms-flex-align: center;
        transform: translateY(-8vw);
    }

    .slideshow-image,
    .slideshow-text {
        width: 90%;
        max-height: 40vw;
        margin-top: 5vw;
        object-fit: contain;
    }

    .slideshow-text {
        transform: translate(2vw, 10vw);
        height: 40vw;
        align-items: center;
        justify-content: flex-start;
        display: flex;
        -ms-flex-align: center;
        padding: 0;
    }

    .slideshow-container {
        top: -2vh !important;
        min-height: 120vh;
    }

    #slideshow9 .slides {
        margin-top: 12vw;
    }

    #slideshow9 .slideshow-text {
        margin-left: -7.5vw;
        margin-top: 10vw;
    }

    #slideshow9 .slideshow-video {
        margin-left: -4vw;
    }

    #slideshow9 .slideshow-image{
        margin-left: -4vw;
    }

    #slideshow8 .slideshow-text {
        margin-left: -5vw;
    }

    #slideshow0 .slideshow-video {
        transform: translate(0vw, -1vw);
        margin-bottom: 2vw !important;
        margin-top: 8vw !important;
    }

    #slideshow0 .slides {
        margin-top: -5vw;
        margin-left: 10vw;
    }

    #slideshow0 .slideshow-vertical-image-container {
        margin-top: 0vw;
        margin-bottom: 5vw;
    }

    #slideshow0 .slideshow-text {
        margin-left: -5vw;
    }

    #slideshow1 .slideshow-video {
        transform: translate(0vw, -1vw);
        margin-bottom: 6vw !important;
        margin-top: 4vw !important;
    }

    #slideshow1 .slides {
        margin-top: 2.5vw;
        margin-left: 8vw;
    }

    #slideshow1 img.bg-rotatable {
        margin-left: 5vw;
    }

    #slideshow1 .slideshow-vertical-image-container {
        margin-top: 0vw;
        margin-bottom: 4vw;
    }

    #slideshow1 .slideshow-text {
        margin-left: -5vw;
    }

    #slideshow2 .slideshow-video {
        transform: translate(0vw, -1vw);
        margin-bottom: 1vw !important;
        margin-top: 9vw !important;
    }

    #slideshow2 .slides {
        margin-top: -5vw;
        margin-left: 10vw;
    }

    #slideshow2 .slideshow-vertical-image-container {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    #slideshow2 .slideshow-text {
        margin-left: -5vw;
    }

    #slideshow3 .slideshow-video {
        transform: translate(-2vw, -1vw);
        margin-bottom: -2vw !important;
        margin-top: 12vw !important;
    }

    #slideshow3 .slides {
        margin-top: -10vw;
        margin-left: 10vw;
    }

    #slideshow3 .slideshow-vertical-image-container {
        margin-top: 4vw;
        margin-bottom: -2vw;
        margin-left: -4vw;
    }

    #slideshow3 .slideshow-text {
        height: 28vw;
        width: 90%;
        margin-left: -5vw;
        margin-top: 10vw;
        margin-bottom: -2.5vw;
    }

    #slideshow4 .slideshow-video {
        transform: translate(0vw, -1vw);
        margin-bottom: 1vw !important;
        margin-top: 9vw !important;
    }

    #slideshow4 .slides {
        margin-top: -5vw;
        margin-left: 10vw;
    }

    #slideshow4 .slideshow-vertical-image-container {
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    #slideshow4 .slideshow-text {
        margin-left: -5vw;
    }

    #slideshow5 .slideshow-video {
        transform: translate(-2vw, -1vw);
        margin-bottom: -2vw !important;
        margin-top: 16vw !important;
        margin-left: 3.5vw;
    }

    #slideshow5 img.bg-rotatable {
        margin-left: 2.5vw;
    }

    #slideshow5 .slides {
        margin-top: -5vw;
        margin-left: 6vw;
    }

    #slideshow5 .slideshow-vertical-image-container {
        margin-top: 9vw;
        margin-bottom: -3vw;
        margin-left: 2vw;
    }

    #slideshow5 .slideshow-text {
        margin-left: -5vw;
        margin-top: 10vw;
        height: 35vw;
    }

    #slideshow6 .slideshow-video {
        transform: translate(-2vw, -1vw);
        margin-bottom: -2vw !important;
        margin-top: 12vw !important;
    }

    #slideshow6 .slides {
        margin-top: -10vw;
        margin-left: 7.5vw;
    }

    #slideshow6 .slideshow-vertical-image-container {
        margin-top: 4vw;
        margin-bottom: -2vw;
        margin-left: -4vw;
    }

    #slideshow6 .slideshow-text {
        height: 28vw;
        width: 90%;
        margin-left: -5vw;
        margin-top: 10vw;
        margin-bottom: -2.5vw;
    }

    #slideshow7 .slideshow-video {
        transform: translate(-2vw, -1vw);
        margin-top: 16vw !important;
        margin-left: 3.5vw;
    }

    #slideshow7 img.bg-rotatable {
        margin-left: 2.5vw;
    }

    #slideshow7 .slides {
        margin-top: -5vw;
        margin-left: 6vw;
    }

    #slideshow7 .slideshow-vertical-image-container {
        margin-top: 9vw;
        margin-bottom: -3vw;
        margin-left: 2vw;
    }

    #slideshow7 .slideshow-text {
        margin-left: -5vw;
        margin-top: 10vw;
        height: 35vw;
    }

    .button-container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 120vw;
        margin-left: 11%;
    }

    .prev, .next {
        margin: 6vw;
        height: 7.5vw;
    }

        
    .slide-navigation-text {
        margin-left: 6vw;
        margin-right: 8vw;
        min-height: 10vw;
        font-size: 1.5vw;
    }

    .slide-navigation-text::before {
        margin-left: 2.2vw;
        width: 23vw;
        height: 19vw;
    }

    .slideshow-ticket {
        top: -120vw;
        height: 80vw;
        margin-left: 8%;
    }

    .slideshow-ticket.animate {
        height: 18vw;
    }

    .departures-signs {
        top: -10%;
        right: -120px;
    }

    .airport-table {
        left: -150px;
        top: 150%;
        height: 300px;
    }

    .backpack-items {
        left: 60%;
        width: 20%;
        height: auto;
        scale: 0.7;
    }

    .airport-background {
        bottom: -600px;
    }

    #dl {
        --item-active-translate-y:-350px !important;
        --item-active-translate-x: -230px !important;
    }

    #bt {
        --item-active-translate-y:-400px !important;
        --item-active-translate-x: -410px !important;
    }

    #tb {
        --item-active-translate-y:-690px !important;
        --item-active-translate-x: -330px !important;
    }

    #note {
        --item-active-translate-y:-530px !important;
        --item-active-translate-x: -220px !important;
    }

    #passport {
        --item-active-translate-y:-560px !important;
        --item-active-translate-x: -400px !important;
    }

    #zb {
        --item-active-translate-y:-590px !important;
        --item-active-translate-x: -280px !important;
    }
}